body {
  font-family: 'Roboto Slab', 'Georgia', serif;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  background: hsl(0, 0%, 95%);
}

div {
  padding: 0;
  margin: 0;
  line-height: 15px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}

.name {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 24px;
  line-height: 5px;
  margin-top: 10px;
}

.description {
  margin-left: 0px;
}

em {
  color: rgb(90, 90, 90);
  /*color: rgb(205, 73, 73);*/
  display: inline-block;
  margin-bottom: 22px;
  font-size: 14px;
  font-style: normal;
}
em::after {
  content: ' ';
  width: 40px;
  height: 1px;
  display: block;
  position: relative;
  top: 13px;
  left: 0;
  background: rgb(202, 202, 202);
}

.error > .description {
  color: rgb(205, 58, 58);
}

code {
  background: white;
  padding: 3px 5px;
  border-bottom: 1px solid rgb(202, 202, 202);
}